<form method="POST" action="/events">
  <fieldset>
    <legend>New Event</legend>
    {{!-- title --}}
    <p>
      <label for="title">Title</label>
      <br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="desc">Movie Title</label>
      <br>
      <input type="text" name="desc" />
    </p>
  </fieldset>
  {{!-- button  --}}
  <p>
    <button type="submit">Save Event</button>
  </p>

</form>